:root {
    --accent-light: #ece659;
    --accent-dark: #423d3a;
    --accent-special: #c48446;
    
    --color-icon-static: invert(54%) sepia(70%) saturate(398%) hue-rotate(348deg) brightness(91%) contrast(83%);
    --color-icon-hover: invert(85%) sepia(15%) saturate(1604%) hue-rotate(5deg) brightness(112%) contrast(85%);
}

a:link { color: #e8de76; }
a:visited { color: #a05e6b; }

#clouds {
    background: black url("/content/Commissions/Colored/Cover.jpg") no-repeat top;
}