:root {
    --accent-light: #f8b143;
    --accent-dark: #473e35;
    --accent-special: #d6814e;
    
    --color-icon-static: invert(51%) sepia(6%) saturate(6423%) hue-rotate(334deg) brightness(123%) contrast(68%);
    --color-icon-hover: invert(74%) sepia(28%) saturate(1201%) hue-rotate(338deg) brightness(105%) contrast(94%);
}

a:link { color: #6586ee; }
a:visited { color: #c97ee1; }

#clouds {
    background: black url("/content/Commissions/Painterly/painterly-form.jpg") no-repeat left;
}