:root {
    --accent-light: #87d7ff;
    --accent-dark: #31497d;
    --accent-special: #63a6f0;

    --color-icon-static: invert(61%) sepia(57%) saturate(1089%) hue-rotate(185deg) brightness(98%) contrast(92%);
    --color-icon-hover: invert(79%) sepia(5%) saturate(4518%) hue-rotate(173deg) brightness(100%) contrast(104%);
}

a:link { color: #5e9cee; }
a:visited { color: #bd68de; }

#clouds {
    background: black url("/content/Commissions/submitted_bg.jpg") no-repeat top;
}
#back-panel {
    height: 100%; width: 100%;
    background-color: rgba(0, 0, 0, 0.8);/* #151616 */
    backdrop-filter: blur(10px);
    
    position: fixed;
    top: 0;
    left: 50%; transform: translateX(-50%);
}
@media (max-width: 980px) { 
    #back-panel { flex-basis: 100%; }
    #widget-full { display: none; }
    #widget-small { display: block; }
    #widget-box { left: 20px; bottom: 40px; } 
    .arrow-left { height: 60px; }
}
@media (980px < width < 1100px) { 
    #back-panel { flex-basis: auto; max-width: 90%; }
    #widget-full { display: none; }
    #widget-small { display: block; }
    #widget-box { left: 20px; bottom: 40px; }
    .arrow-left { height: 60px; }
}
@media (1100px < width) { 
    #back-panel { flex-basis: 80%; max-width: 1000px; } 
    #widget-full { display: none; }
    #widget-small { display: bloxk; }
    #widget-box { left: 10%; bottom: 40px; }
    .arrow-left { height: 4vh; }
}
@media (1500px < width) {
    #widget-full { display: block; }
    #widget-small { display: none; }
    .arrow-left { height: 2.6vh; }
}

#widget-box {
    background-color: rgba(0, 0, 0, 0.8); /* #151616 */
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #222222;
    padding: 20px;

    position: fixed;
    z-index: 10;
}
#widget-box a { text-decoration: none; color: var(--accent-special); }
#widget-box:hover a { color: var(--accent-light); }
#widget-small { font-size: 3vh; padding: 0; aspect-ratio: 1/1;  }
.arrow-left { position: relative; filter: var(--color-icon-static); }
#widget-box:hover .arrow-left { filter: var(--color-icon-hover); }

.override-style { /* removes borders & backgrounds from elements that shouldnt have them */
    border: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
}
.story {padding-top: 0 !important; }

.paragraph {        
    padding: 20px; margin: 15px; text-align: center;
}
.paragraph h2 { margin: 10px; margin-bottom: 15px; }
.paragraph p { margin: 10px; }
.paragraph strong { color: var(--accent-special); }

/* process step-by-step */
.process { margin: 40px 0 40px 0; }
.process tr { height: fit-content; margin: 10px; }
.process td { width: fit-content; }
.process-step {
    -webkit-text-stroke: 5px black !important;
    paint-order: stroke fill;
    margin: 0; padding-right: 10px; text-align: center;
    font-size: 3.5vh; font-family: "Poppins", arial, sans-serif; color: var(--accent-light);
}
.process-icon { font-size: 5vh; margin: 0; padding-right: 10px; text-align: center; }
.process p { margin: 0; width: fit-content; text-align: left; }
.process-revisions { color: var(--accent-special); }



