/* GROUNDS
 * some details:
 * currently idk lol
 */

@font-face {
    font-family: "Hyperlegible";
    src: url("/content/Fonts/Hyperlegible.ttf");
}

@font-face {
    font-family: "MS DOS";
    src: url("/content/Fonts/MorePerfectDOSVGA.ttf");
}

body {
    background-color: black;
    color: white;
    
}

/* top level rules */
p {
    font-family: "Hyperlegible", arial, sans-serif;
    font-size: 15px;
    color: #bdbdbd;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "MS DOS", arial, sans-serif;
}

/* top level rules end */

header {
    color: #ffffff;
    position: relative;
    width: fit-content;
    
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    
    text-align: center;
}

header h1 {
    color: #ffffff;
}

header p {
    margin-top: 0;
    margin-bottom: 4px;
}

#button-box {
    width: fit-content;
    
    position: relative;
    left: 50%;
    transform: translate(-50%);
    
    top: 150px;
}

.button {
    display: inline-block;
    
    margin: 30px;
    padding: 15px;
    
    background-color: #ffffff;
    color: #444444;
    
    font-family: "Hyperlegible", arial, sans-serif;
    text-decoration: none;
    transition: all .2s ease;
}

.button:hover {
    transform: scale(1.1);
}

#social-box {
    width: fit-content;
    
    position: relative;
    left: 50%;
    transform: translate(-50%);
    
    top: 300px;
}

.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    
    padding: 10px;
    
    transition: all .2s ease;
}
.social:hover {
    transform: scale(1.1);
}

.social img {
    width: 40px;
    height: 40px;
}

#social-box p {
    text-align: center;
    width: auto;
    margin-top: 5px;
}

#clouds {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: black url("/content/gate_bg.png") no-repeat top;
    background-size: cover;
}


