/* GROUNDS
 * some details:
 * currently idk lol
 */


body {
    background-color: black;
    color: white;
}

/* top level rules */

.responsive-box { position: relative; }
@media (max-width: 980px) { 
    .responsive-box { 
        flex-basis: 100%;
    } 
    
    .social {
        width: 100px;
    }
    
    #button-box {
        flex-direction: column;
        max-width: 45%;
    }
    .button { padding-top: 25px; padding-bottom: 25px; }
}

@media (980px < width) { 
    .responsive-box { 
        flex-basis: 80%; 
        max-width: 700px; 
    } 
    
    .social {
        width: 40px;
    }
    .button { padding-top: 15px; padding-bottom: 15px; }
}

header {
    color: #ffffff;
    position: relative;
    width: fit-content;
    
    top: 150px;
    left: 50%;
    transform: translate(-50%);
    
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

header h1 {
    color: #ffffff;
}

header p {
    margin-top: 0;
    margin-bottom: 4px;
}

#button-box {
    display: flex;
    
    position: relative;
    left: 50%;
    transform: translate(-50%);
    
    top: 180px;
}

.button {
    display: inline-block;
    flex: 1 1 auto;
    
    margin: 30px;
    padding-left: 15px;
    padding-right: 15px;
    
    background-color: #061c51;
    color: #e1e1e1;
    
    text-decoration: none;
    text-align: center;
    
    transition: all .2s ease;
}

.button:hover {
    transform: scale(1.1);
}

#social-box {
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    
    text-align: center;
    
    top: 300px;
}

.social {
    display: inline-block;
    aspect-ratio: 1 / 1;
    
    padding: 10px;
    
    transition: all .2s ease;
}
.social:hover, .social:active {
    transform: scale(1.1);
}

.social img {
    width: 100%;
    height: 100%;
}

#social-box p {
    text-align: center;
    width: auto;
    margin-top: 5px;
}

#clouds {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: black url("/content/gate_bg.png") no-repeat top;
    background-size: cover;
}


