:root {
    --accent-light: #dfa321;
    --accent-dark: #863c29;
    --accent-special: #bd630e; 
}

a:link { color: #966b33; }
a:visited { color: #a83123; }


.player { position: relative; margin-top: 20px; }
.audio-box { position: relative; } /* this box might or might not be useless */

.audio-box audio { position: relative; width: 100%; }
.song-data { position: relative; display: flex; }

.icon-box { position: relative; flex: 1 1 auto; }
.icon { 
    position: relative; max-height: 150px;
    object-fit: cover;    
    border: 2px var(--accent-special) solid;
}
.desc-box {
    position: relative; flex: 1 1 auto;
    width: 100%; display: flex; flex-direction: column; 
    margin-left: 20px;
}
.desc-box h3 { position: relative; padding: 0; margin: 0; }
.desc-box p { padding: 0; margin-top: 10px; margin-bottom: 10px; }
.desc-box aside {
    margin-top: auto; 
        
    position: relative !important; /* gotta unset all of the styles from blog-page */
    font-size: 2.2vh !important;
    top: initial !important; 
    right: initial !important;
}

#clouds { background: black url("/content/backgrounds/attic_bg.jpg") no-repeat top; }


/* page-box centered
 * - post
 * - - player
 * - - - icon-box
 * - - - - icon
 * - - - audio-box
 * - - - - audio
 * - - description
 * - - - desc-box
 * - - - - h3
 * - - - - p 
 * - - - - aside
 * */



















