/* TOWER
 * some details:
 * the content collumn width: 440px
 */

a:link {
  color: #4b69c5;
}

a:visited {
  color: #5e5e5e;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

footer p {
  border: 2px #bbbbbb solid;
  padding: 20px;
}

footer em {
    color: #bbbbbb;
}

#clouds {
  background: black url("/content/2023_bg.jpg") no-repeat top;
  background-size: cover;
}
  
#structure {
  background: black url("/content/2023_tower.jpg") no-repeat right;
  border-left: 5px #bbbbbb double;
  border-right: 5px #bbbbbb double;
}

/* The floating box with the bio */
#widget-box {
  border: 5px #bbbbbb double;
}


