/* TOWER
 * some details:
 * the content collumn width: 440px
 */

a:link {
  color: #4b69c5;
}

a:visited {
  color: #323aaf;
}

h1, h2, h3, h4, h5, h6 {
  color: #427ef7;
}

footer p {
  border: 2px #1676f9 solid;
  padding: 20px;
}

footer em {
    color: #1676f9;
}

 #clouds {
  background: black url("/content/2025_bg.jpg") no-repeat top;
  background-size: cover;
}
  
#structure {
  background: black url("/content/2025_tower.jpg") no-repeat right;
  border-left: 5px #1676f9 double;
  border-right: 5px #1676f9 double;
}

/* The floating box with the bio */
#widget-box {
  border: 5px #1676f9 double;
}





