.MyClass {

position: relative; /* this makes the image able to move */
left: 50%; /* this puts the image 50% of the page width across, starting from the left */
    
transform: translate(-50%); /*this puts the image 50% of its own width to the left, so that its centered and not just its anchored. */
    
}