/* TOWER
 * some details:
 * the content collumn width: 440px
 */

:root {
  --accent-light: #e984a2;
  --accent-dark: #bd3465;
}

a:link { color: #4b69c5; }
a:visited { color: #a6328d; }

#clouds {
  background: black url("/content/SDcard/02.04/P4020632.jpg") no-repeat top;
  background-size: cover;
}

/* For Chroma Corp sections, to separate them */ 
.photo-april {
  border-top: 1px #ffe328 solid; 
  border-bottom: 1px #ffe328 solid; 
}

