/* This component manages the fonts on the website. */

@font-face {
    font-family: "Hyperlegible";
    src: url("/content/fonts/Hyperlegible.ttf");
}

@font-face {
    font-family: "Hyperlegible_italics";
    src: url("/content/fonts/Hyperlegible_italic.ttf");
}

@font-face {
    font-family: "MS DOS";
    src: url("/content/fonts/MorePerfectDOSVGA.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("/content/fonts/Poppins.ttf");
}

@font-face {
    font-family: "Minecraft";
    src: url("/content/fonts/Minecraft.otf");
}

@font-face {
    font-family: "Minecraft-bold";
    src: url("/content/fonts/Minecraft-bold.otf");
}

/* top level rules */
p {
    font-family: "Hyperlegible", arial, sans-serif;
}

a {
    font-family: "Hyperlegible", arial, sans-serif;
}

li {
    font-family: "Hyperlegible", arial, sans-serif;
}

em {
    font-family: "Hyperlegible_italics", arial, sans-serif;
}

strong {
    font-family: "Hyperlegible", arial, sans-serif;
}

aside {
    font-family: "Hyperlegible", arial, sans-serif;
}

blockquote {
    font-family: "Hyperlegible", arial, sans-serif;
}

figcaption {
    font-family: "Hyperlegible", arial, sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", arial, sans-serif;
}

