.share {
    /*border: 5px #95a433 double;*/
    background-color: #0f1213;
    padding: 5px;
    
    position: absolute;
    top: 55px;
    right: 15px;
    
    width: 25px;
    height: 25px;
    
    background: #0f1213 url("/content/Icons/link.png") no-repeat center;
    background-size: 1.5em;   
}
.share:hover {
    background-size: 1.5em;
}

#copy-dialog {
    background-color: #0f1213;
    
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    
    position: fixed;
    bottom: 10px;
    
    z-index: 1000;
    display: none;
    
    transition: all .1s ease;
}