/* This utility houses style sheets for a tower. 
 * The year specific ones manage color & images */

body {
    background-color: black;
    color: white;
    
}

/* top level rules */
p {
    font-size: 15px;
    color: #c2c2c2;
}

a {
    font-size: 15px;
}

/* top level rules end */

body {
  background-color: black;
  font-family: arial, helvetica, serif;
  font-size: 13px;
  color: #adadad;
  margin: 0;
}

blockquote {
  color: #c5c5c5;
}

figcaption {
  color: #858585;
  font-style: italic;
}

p {
  padding-left: 2px;
  padding-right: 2px;
}

#footer-nav {
  display: flex;
}

.centered {
  text-align: center;
}

#strike {
  text-decoration: line-through;
  font-style: normal;
}

/* centers the tower on-screen */
#tower-box {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 640px;
}

/* aligns everything to the tower */
.in-tower {
  width: 440px;
}

#clouds {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
  
#structure {
  position: fixed;
  top: 0;
  
  left: 50%;
  transform: translate(-50%);
  
  width: 640px;
  height: 100vh;
  
  padding-left: 10px;
  padding-right: 10px;
  
  box-shadow: 0 0 5px 1px black;
}

/* For Chroma Corp sections, to separate them */ 
.cc {
  border-top: 1px #ffe328 solid; 
  border-bottom: 1px #ffe328 solid; 
}

/* For the Lumina guide section */ 
#lumina {
  border-top: 1px #8a0ce5 solid; 
  border-bottom: 1px #8a0ce5 solid; 
}

/* The floating box with the bio */
#widget-box {
  width: auto;
  height: auto;
  
  background-color: black;
  padding: 10px;
  
  position: fixed;
  bottom: 80px;
  left: 60px;
  
  z-index: 0;
}

#widget-box p {
  text-align: center;
}

blockquote:before {
    content: open-quote;
}

blockquote:after {
    content: close-quote;
}

/* creates the grid */
.window {
  display: grid;
  grid-template-columns: 110px 110px 110px 110px;
  grid-template-rows: 110px;
}

div:active {
  position: relative;
  z-index: 1000;
}

/* manages the hidden full image */
.image { 
  margin: 0;
  padding: 5px;
  
  width: 100px;
  height: 100px;
  
  object-fit: cover;
  transition: all .2s ease;
}
/* show preview */
.image:hover {
  transform: scale(1.2);
  object-fit: contain;
  
  z-index: 2;
  overflow: hidden;
}
/* display full on click*/
.image:active {
  transform: scale(6);
  position: relative;
  object-fit: contain;
  z-index: 1000;
}

.reset-style, .reset-style * {
  all: none;
}





