:root {
    --p-color: #c2c2c2;
    --input-black: #101010;
}
/* COMMISSION FORM CSS */

#back-panel {
    height: 100%; width: 100%;
    background-color: rgba(0, 0, 0, 0.8);/* #151616 */
    backdrop-filter: blur(10px);
    
    position: fixed;
    top: 0;
    left: 50%; transform: translateX(-50%);
}
@media (max-width: 980px) { 
    #back-panel { flex-basis: 100%; }
    #widget-full { display: none; }
    #widget-small { display: block; }
    #widget-box { left: 20px; bottom: 40px; } 
    .arrow-left { height: 60px; }
}
@media (980px < width < 1100px) { 
    #back-panel { flex-basis: auto; max-width: 90%; }
    #widget-full { display: none; }
    #widget-small { display: block; }
    #widget-box { left: 20px; bottom: 40px; }
    .arrow-left { height: 60px; }
}
@media (1100px < width) { 
    #back-panel { flex-basis: 80%; max-width: 60%; } 
    #widget-full { display: none; }
    #widget-small { display: bloxk; }
    #widget-box { left: 10%; bottom: 40px; }
    .arrow-left { height: 4vh; }
}
@media (1500px < width) {
    #widget-full { display: block; }
    #widget-small { display: none; }
    .arrow-left { height: 2.6vh; }
}

#widget-box {
    background-color: rgba(0, 0, 0, 0.8); /* #151616 */
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #222222;
    padding: 20px;

    position: fixed;
    z-index: 10;
}
#widget-box a { text-decoration: none; color: var(--accent-special); }
#widget-box:hover a { color: var(--accent-light); }
#widget-small { font-size: 3vh; padding: 0; aspect-ratio: 1/1;  }
.arrow-left { position: relative; filter: var(--color-icon-static); }
#widget-box:hover .arrow-left { filter: var(--color-icon-hover); }

.override-style { /* removes borders & backgrounds from elements that shouldnt have them */
    border: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
}
.story {padding-top: 0 !important; }

.commission-box { 
    padding: 0 !important; 
    border: none !important;
    margin: 20px 0 20px 0 !important;
} /* changes the post so that the image fills the space */
.commission-box:hover { border: 5px var(--accent-light) double; }
.commission-box:hover .banner .downtick { visibility: visible; }

/* FORMS */
/* general */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

fieldset { 
    position: relative; height: 100%;
    border: none; margin-bottom: 30px; padding: calc(6vh + 25px) 20px 30px 20px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0) 100%); 
}
legend { text-align: center; position: absolute; left: 50%; transform: translate(-50%, -125%); }
legend h2 { margin: 0; }

.form-required { color: #ef6767; }
.legend-subtitle {text-align: center; margin: 0; margin-bottom: 30px; }

/* CONTACT */
.form-text-box { width: 400px; margin-bottom: 5px; }
.form-text-box label { display: block; padding-bottom: 5px; }
.form-text-input { 
    display: block; width: 400px; box-sizing: border-box;
    background-color: var(--input-black);
    border: 2px var(--accent-dark) solid;
    padding: 10px 10px 10px 10px;
    
    font-family: "Hyperlegible", arial, sans-serif; font-size: 2.1vh;
    color: var(--p-color);
}
.form-text-input:placeholder-shown { font-style: italic; }
.form-text-note { margin: 0; margin-bottom: 40px; }
.form-text-bottom { margin: 0; margin-top: 40px;}

/* TYPE PICKER */
.examples {
    display: grid;
    width: 100%;
    height: fit-content;
    
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: auto;
    
    margin-bottom: 20px;
}
.examples figure { width: 100%; height: 100%; margin: 0; padding: 10px; box-sizing: border-box; }
.examples figure img { 
    width: 100%; height: auto; aspect-ratio: 4/6; /* Aspect ratio here solves the figcaption issue. */
    object-fit: cover; 
}
.input-box {
    position: relative; width: fit-content; margin-top: 10px;
}
.input-box label {
    display: inline-block; position: relative; box-sizing: border-box;
    color: var(--p-color);
    font-family: "Poppins", arial, sans-serif; font-size: 2.3vh;
    text-align: left; vertical-align: top; 
    margin: 10px; margin-left: 0; 
}
.input-box .form-radio-container { 
    display: inline-block; margin: 10px; box-sizing: border-box;
    position: relative; vertical-align: top;
    top: 3px;
}
.examples figure:hover { background-color: var(--accent-light) !important; }
.examples figure:hover label { color: black !important; }
.examples figure:hover .form-radio-container { border: 2px black solid; }
.examples figure:hover input[class="form-radio"]:checked { background-color: black; }

/* this is basically like: IF input-box.children[div].children[input]:checked, THEN input-box.children[label] { }  */
.input-box:has(> div > input[class="form-radio"]:checked) > label { color: var(--accent-light); }

.examples figure:has(> div > div > input[class="form-radio"]:checked) { 
    background-color: color-mix(in srgb, var(--accent-light), transparent 85%); 
}

/* SPECIAL */ /* This special type of button monitors checkmarks & radio buttons for clicks on the bg. */
.input-hitbox { 
    position: absolute; 
    width: 100%; height: 100%; 
    top: 0; left: 0;
}

/* RADIO BUTTONS */
.form-radio-container {
    display: block; position: relative; width: 21px; height: 21px;
    border: 2px white solid; border-radius: 50%; /* styles the border corner to be circular */
}
.form-radio {
    appearance: none; /* disables system styling */
    width: 60%; height: 60%; margin: 0;
    
    border: 0; border-radius: 50%; /* styles the border corner to be circular */
    transition: 0.1s background-color ease-in-out;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}
input[class="form-radio"]:checked {
    background-color: var(--accent-light);
}

/* CHECKBOXES */
.addon-container { width: fit-content; margin-bottom: 30px; }
.checkbox-box { 
    position: relative; width: 100%; margin-bottom: 10px; padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    background-color: color-mix(in srgb, var(--accent-dark), transparent 85%); 
}
.checkbox-box label {
    display: inline-block; position: relative; box-sizing: border-box;
    color: var(--p-color);
    font-family: "Poppins", arial, sans-serif; font-size: 2.3vh;
    text-align: left; vertical-align: top; 
    margin: 0; padding: 10px 15px 10px 0;
}
.checkbox-box label a { font-family: "Poppins", arial, sans-serif; font-size: 2.3vh; }

input[type="checkbox"] {
    appearance: none;
    display: inline-block; margin: 10px; box-sizing: border-box;
    position: relative; vertical-align: top;
    top: 3px;
    
    width: 21px; height: 21px;
    border: 2px var(--p-color) solid; 
    background-color: black;
    
    /* Set here so that Windows' High-Contrast Mode can override */
    color: green;
}
input[type="checkbox"]:checked {
    background:  var(--input-black) url(/content/Icons/checkmark_sketch.png) no-repeat center;
    background-size: contain;
}
input[type="checkbox"]:checked + label { color: var(--accent-light); }
.checkbox-box:has(> input[type="checkbox"]:checked) {     
    background-color: color-mix(in srgb, var(--accent-light), transparent 85%);  
}

/* SHARE BOX */
.form-share-note { text-align: center; margin-bottom: 30px;}
.form-share {
    width: fit-content;
}
.form-share-input {
    position: relative; width: 100%; margin-bottom: 10px; padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    background-color: color-mix(in srgb, var(--accent-dark), transparent 85%); 
}
.form-share-input:has(> div > input[class="form-radio"]:checked) { 
    background-color: color-mix(in srgb, var(--accent-light), transparent 85%); 
}

/* ADDITIONAL NOTES */
.form-notes-box { width: 500px; margin-bottom: 5px; }
.form-notes-box label { 
    display: block; padding-bottom: 5px; 
    font-family: "Hyperlegible", arial, sans-serif; font-size: 2.1vh;
    color: var(--p-color);
}
.form-notes-input { 
    display: block; width: 500px; min-height: 100px; box-sizing: border-box;
    background-color:  var(--input-black);
    border: 2px var(--accent-dark) solid;
    padding: 10px;
    
    font-family: "Hyperlegible", arial, sans-serif; font-size: 2.1vh;
    color: var(--p-color);
    
    resize: vertical;
}
.form-notes-input:placeholder-shown { font-style: italic; }


/* SUBMIT BUTTON */
.submit-box { 
    display: flex; width: 100%; padding: 30px; box-sizing: border-box; 
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}
.submit-button {
    font-family: "Poppins", arial, sans-serif; font-size: 2.5vh;
    box-shadow: 0; border: 0;
    padding: 20px 40px 20px 40px;
    margin-left: auto;
    
    transition: 0.1s all ease-in;
    background-color: var(--accent-light); color: black;
}
.submit-button:hover {
    background-color: white;
}

.gdpr-note { font-size: 2vh; color: var(--accent-dark); text-align: center; }










