/* GROUNDS
 * some details:
 * currently idk lol
 */

@font-face {
    font-family: "Hyperlegible";
    src: url("/content/Fonts/Hyperlegible.ttf");
}

@font-face {
    font-family: "Hyperlegible_italics";
    src: url("/content/Fonts/Hyperlegible_italic.ttf");
}

@font-face {
    font-family: "MS DOS";
    src: url("/content/Fonts/MorePerfectDOSVGA.ttf");
}

body {
    background-color: black;
    color: white;
    
}

/* top level rules */
p {
    font-family: "Hyperlegible", arial, sans-serif;
    font-size: 15px;
    color: #c2c2c2;
}

a {
    font-family: "Hyperlegible", arial, sans-serif;
    font-size: 15px;
}

em {
    font-family: "Hyperlegible_italics", arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "MS DOS", arial, sans-serif;
}

/* top level rules end */

header {    
    height: auto;
    
    border: 5px #3a6d5f double;
    
    padding: 20px;
    margin-top: 20px;
    
    text-align: center;
}

header h1 {
    margin: 0;
    color: #df5f21;
}

header p {
    margin: 2px;
    font-style: italic;
}

header a {
    padding-left: 10px;
    padding-right: 10px;
}

header nav {
    margin: 5px;
    margin-top: 10px;
    padding: 0;
}

a:link {
    color: #338b96;
}
a:visited {
    color: #954614;
}

.instructions {
    height: auto;
    
    border: 5px #3a6d5f double;
    
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.instructions h3 {
    color: #df5f21;
    padding: 0;
    padding-top: 15px;
    margin: 0;
    
    position: relative;
}

.instructions p {
    margin-top: 10px;
    margin-bottom: 10px;
}

sup { 
    vertical-align: top; 
    position: relative; 
    top: -0.1em; 
}

.post {
    height: 270px;
    
    border: 5px #a64d0d double;
    position: relative;
    
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.post h1, h2, h3, h4, h5, h6 {
    color: #1fb3a7;
    padding: 0;
    margin: 0;
    
    position: relative;
}

.post p {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
}

.post aside {
    color: #127570;
    position: absolute;
    top: 20px;
    right: 20px;
}

.post audio {
    position: absolute;
    bottom: 30px;
    left: 20px;
    margin-top: 10px;
}

.vertical {
    position: absolute;
    right: 20px;
    bottom: 50px;
    
    height: 200px;
    width: 140px;
    object-fit: cover;
    
    border: 2px #3a6d5f solid;
    transition: all .2s ease;
}

.square {
    position: absolute;
    right: 170px;
    bottom: 50px;
    
    height: 100px;
    width: 100px;
    object-fit: cover;
    
    border: 2px #3a6d5f solid;
    transition: all .2s ease;
}

.pdf {
    position: relative;
    display: inline-block;
    
    margin-right: 5px;
    
    height: 125px;
    width: 90px;
    object-fit: cover;
    
    border: 2px #3a6d5f solid;
    transition: all .2s ease;
}

/* show preview */
.cover:hover {
    transform: scale(1.2);
    object-fit: cover;

    border: none;
    overflow: hidden;
    z-index: 5;
}
/* display full on click*/
.cover:active {
    transform: scale(3);
    z-index: 5;
    object-fit: contain;
    
    border: none;
}


.template {
    position: absolute;
    left: 20px;
    bottom: 50px;
}

.papercraft-download {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

footer {
    height: auto;
    
    border: 5px #3a6d5f double;
    
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    
    position: relative;
    z-index: 0;
}

footer p {
    text-align: center;
    color: #656565;
}

footer em {
    color: #3a6d5f;
}


.centered {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.page-box {
    position: relative;
    width: 610px;
    z-index: 100;
    
    background-color: #0f1213;
}

.main-box {
    display: flex;
    position: relative;
    width: 40vw;
}

.story {
    height: auto;
    
    border: 5px #3a6d5f double;
    
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    
    text-align: center; 
}

#clouds {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1080px;

    background: black url("/content/craftsroom_bg.jpg") no-repeat top;
    background-size: contain;
}

