/* GROUNDS
 * some details:
 * currently idk lol
 */
body {
    background-color: black;
    color: white;
    
}

/* top level rules */
p { color: #c2c2c2; }
li { color: #c2c2c2; }
strong { color: #b5d73f; }

img { vertical-align: bottom; }
/* top level rules end */

header {    
    height: auto;
    
    border: 5px #b5d73f double;
    
    padding: 20px;
    margin-top: 20px;
    
    text-align: center;
}

header h1 {
    margin: 0;
    color: #b5d73f;
}

header p {
    margin: 2px;
    font-style: italic;
}

header a {
    padding-left: 10px;
    padding-right: 10px;
}

header nav {
    margin: 5px;
    margin-top: 10px;
    padding: 0;
}

a:link {
    color: #42b6a6;
}
a:visited {
    color: #1f6e48;
}

.post {
    height: auto;
    
    border: 5px #b5d73f double;
    
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.post h1, h2, h3, h4, h5, h6 {
    color: #b5d73f;
}

.post aside {
    color: #95a433;
    position: absolute;
    top: 20px;
    right: 15px;
    
    font-size: 2.1vh;
}

footer {
    height: auto;
    
    border: 5px #13925e double;
    
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.attribution {
    text-align: center;
    font-size: 2vh;
    color: #828282;
}
.attribution a {
    font-size: 2vh;
}
    
footer p {
    text-align: center;
    color: #656565;
}

footer em {
    color: #13925e;
}

.share {
    position: absolute;
    right: 15px;
}

.share:hover {
     background: #0f1213 url("/content/Icons/link_click_greenhouse.png") no-repeat center;
}

#copy-dialog {
    border: 5px #95a433 double;
}

.centered {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.main-box {
    display: flex;
    position: relative;
    width: 40vw;
}

.story {
    height: auto;
    
    border: 5px #13925e double;
    
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    
    text-align: center; 
}

#clouds {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: black url("/content/greenhouse_bg.jpg") no-repeat top;
    background-size: cover;
}

.table-of-contents ol {
    counter-reset: item;
}
.table-of-contents li {
    display: block;
}
.table-of-contents li::before {
    content: counters(item, ".")". ";
    counter-increment: item;
}

.spoiler-box {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.spoiler-tag {
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: #282c33;
    outline: 2px #95a433 solid;
    transition: all .2s ease;
}

.spoiler-tag p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    margin: 0;
    width: fit-content;
    
    background-color: #95a433;
    color: #0f1213;
    
    padding: 15px;
    border-radius: 50px;
}

.spoiler-tag:hover {
    opacity: 0.1%;
}

