/* GROUNDS
 * some details:
 * currently idk lol
 */

@font-face {
    font-family: "Hyperlegible";
    src: url("/content/Fonts/Hyperlegible.ttf");
}

@font-face {
    font-family: "Hyperlegible_italics";
    src: url("/content/Fonts/Hyperlegible_italic.ttf");
}

@font-face {
    font-family: "MS DOS";
    src: url("/content/Fonts/MorePerfectDOSVGA.ttf");
}

body {
    background-color: black;
    color: white;
    
}

/* top level rules */
p {
    font-family: "Hyperlegible", arial, sans-serif;
    font-size: 15px;
    color: #c2c2c2;
}

li {
    font-family: "Hyperlegible", arial, sans-serif;
    font-size: 15px;
    color: #b5d73f;
}

em {
    font-family: "Hyperlegible_italics", arial, sans-serif;
}

strong {
    font-family: "Hyperlegible", arial, sans-serif;
        color: #b5d73f;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "MS DOS", arial, sans-serif;
}

/* top level rules end */

body {
    background-color: black;
    color: white;
}

header {    
    height: auto;
    
    border: 5px #b5d73f double;
    
    padding: 20px;
    margin-top: 20px;
    
    text-align: center;
}

header h1 {
    margin: 0;
    color: #b5d73f;
}

header p {
    margin: 2px;
    font-style: italic;
}

header a {
    padding-left: 20px;
}

header nav {
    margin: 5px;
    margin-top: 10px;
    padding: 0;
}

a:link {
    color: #42b6a6;
}
a:visited {
    color: #1f6e48;
}

.post {
    height: auto;
    
    border: 5px #b5d73f double;
    
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.post h1, h2, h3, h4, h5, h6 {
    color: #b5d73f;
}

.post aside {
    color: #95a433;
    position: absolute;
    top: 20px;
    right: 15px;
}

footer {
    height: auto;
    
    border: 5px #13925e double;
    
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

footer p {
    text-align: center;
    color: #656565;
}

footer em {
    color: #13925e;
    padding-left: 10px;
    padding-right: 10px;
}


.centered {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.page-box {
    position: relative;
    width: 610px;
    
    background-color: #0f1213;
}

.main-box {
    display: flex;
    position: relative;
    width: 40vw;
}

.story {
    height: auto;
    
    border: 5px #13925e double;
    
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    
    text-align: center; 
}

#clouds {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1080px;
  
  background: black url("/content/greenhouse_bg.jpg") no-repeat top;
  background-size: contain;
}

