:root {
    --accent-light: #b5d73f;
    --accent-dark: #b5d73f;
    --accent-special: #13925e;
}

a:link { color: #42b6a6; }
a:visited { color: #1f6e48; }

#clouds {
    background: black url("/content/greenhouse_bg.jpg") no-repeat top;
}

/* Utility for making an auto-counting list */
.table-of-contents ol { counter-reset: item; }
.table-of-contents li { display: block; }
.table-of-contents li::before {
    content: counters(item, ".")". ";
    counter-increment: item;
}

/* Utility for making a spoiler box */
.spoiler-box {
    position: relative;
    width: fit-content;
    height: fit-content;
}
.spoiler-tag {
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: #282c33;
    outline: 2px #95a433 solid;
    transition: all .2s ease;
}
.spoiler-tag p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    margin: 0;
    width: fit-content;
    
    background-color: #95a433;
    color: #0f1213;
    
    padding: 15px;
    border-radius: 50px;
}
.spoiler-tag:hover {
    opacity: 0.1%;
}

