/* GROUNDS
 * some details:
 * currently idk lol
 */
body {
    background-color: black;
    color: white;
    
}

/* top level rules */
p {
    font-size: 15px;
    color: #c2c2c2;
}

a {    font-size: 15px;
}

/* top level rules end */

body {
    background-color: black;
    color: white;
}

header {    
    height: auto;
    
    border: 5px #71a8b6 double;
    
    padding: 20px;
    margin-top: 20px;
    
    text-align: center;
}

header h1 {
    margin: 0;
    color: #339593;
}

header p {
    margin: 2px;
    font-style: italic;
}

header a {
    padding-left: 10px;
    padding-right: 10px;
}

header nav {
    margin: 5px;
    margin-top: 10px;
    padding: 0;
}

a:link {
    color: #4e6eaa;
}
a:visited {
    color: #323aa5;
}

.post {
    height: 160px;
    
    border: 5px #736e61 double;
    
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.post img {
    width: 160px;
    height: 160px;
}

.text-box {
    position: absolute;
    
    left: 200px;
    top: 50%;
    transform: translate(0, -50%);
}

.text-box h2 {
    margin-bottom: 8px;
}

.text-box p {
    margin-top: 5px;
    margin-bottom: 5px;
}

footer {
    height: auto;
    
    border: 5px #71a8b6 double;
    
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

footer p {
    text-align: center;
    color: #656565;
}

footer em {
    color: #71a8b6;
}


.centered {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.page-box {
    position: relative;
    width: 610px;
    
    background-color: #0f1213;
}

.main-box {
    display: flex;
    position: relative;
    width: 40vw;
}

.story {
    height: auto;
    
    border: 5px #71a8b6 double;
    
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    
    text-align: center; 
}

#clouds {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: black url("/content/grounds_bg.jpg") no-repeat top;
    background-size: cover;
}

