body {
    background-color: black;
    color: white;
}

/* top level rules */
p { color: #c2c2c2; }
li { color: #c2c2c2; }
strong { color: #dc8f17; }

img { vertical-align: bottom; }
/* top level rules end */

/* SEPARATE PAGE BOX */
.page-box {
    position: relative;
}

@media (max-width: 700px) {
    .page-box {
        flex-basis: 100%;
    }
    
    .select-box { grid-template-columns: auto; }
}

@media (700px < width < 980px) {
    .page-box {
        flex-basis: 100%;
    }
    
    .select-box { grid-template-columns: auto auto; }
}

@media (980px < width < 1100px) {
    .page-box {
        flex-basis: auto;
        max-width: 75%;
    }
    
    .select-box { grid-template-columns: auto auto; }
}

@media (1100px < width) {
    .page-box {
        flex-basis: 80%;
        max-width: 610px;
    }
    
    .select-box { grid-template-columns: auto auto; }
}
/* SEPARATE PAGE BOX */


header {    
    height: auto;
    
    border: 5px #dc8f17 double;
    
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    
    text-align: center;
    background-color: #0f1213;
}

header h1 { margin: 0; color: #dc8f17; }
header p { margin: 2px; font-style: italic; }
header a { padding-left: 10px; padding-right: 10px; }

header nav {
    margin: 5px;
    margin-top: 10px;
    padding: 0;
}

a:link { color: #83c5bc; }
a:visited { color: #c86429; }

.select-box {
    display: grid;
    gap: 10px;
}

.select-box a { text-decoration: none; }

.post {
    border: 5px #984d12 double;
    
    padding: 20px;    
    background-color: #0f1213;
}

.post h2 { color: #dc8f17; text-align: center; }
.post p { text-align: center; margin: 0; }
.post em { color: #8d6c55; }

.post:hover, .post:active {
    background-color: #29231e;
}

footer {
    height: auto;
    
    border: 5px #dc8f17 double;
    
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #0f1213;
}

footer p { text-align: center; color: #656565; }
footer em { color: #c68b2f; }

#clouds {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: black url("/content/craftsroom_bg.jpg") no-repeat top;
    background-size: cover;
}

.centered { position: relative; left: 50%; transform: translate(-50%); }


